<!--begin::Input group-->
	<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
	<input data-column="{{ name }}" data-form-type="date" name="{{ name }}_insert" class="form-control form-control-solid ave-form-insert-all" placeholder="Pick a date" id="datePicker_{{ value }}_insert"/>
<!--end::Input group-->