	<!--begin::Label-->
	<label class="{{ required ? 'required' : ''  }} d-block fw-semibold fs-6 mb-5">{{ title }}</label>
	<!--end::Label-->
	<!--begin::Image placeholder-->
	<style>.image-input-placeholder { background-image: url('assets/media/svg/files/blank-image.svg'); } [data-theme="dark"] .image-input-placeholder { background-image: url('assets/media/svg/files/blank-image-dark.svg'); }</style>
	<!--end::Image placeholder-->
	<!--begin::Image input-->
	{{--  <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true">  --}}
	<div id="ave-insert-image-parent-{{ name }}" class="ave-insert-image-parent image-input image-input-outline image-input-placeholder image-input-empty" data-kt-image-input="true">
		<!--begin::Preview existing avatar-->
		{{--  <div class="image-input-wrapper w-125px h-125px" style="background-image: url(assets/media/avatars/300-6.jpg);"></div>  --}}
		<div id="ave-insert-image-wrapper-{{ name }}" class="ave-insert-image-wrapper image-input-wrapper w-125px h-125px" style="background-image: none;"></div>
		<!--end::Preview existing avatar-->
		<!--begin::Label-->
		<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change Image">
			<i class="bi bi-pencil-fill fs-7"></i>
			<!--begin::Inputs-->
			<input data-column="{{ name }}" data-form-type="file" class="ave-form-insert-all ave-insert-image" type="file" name="avatar" accept=".png, .jpg, .jpeg" />
			<input type="hidden" name="avatar_remove" />
			<!--end::Inputs-->
		</label>
		<!--end::Label-->
		<!--begin::Cancel-->
		<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel Image">
			<i class="bi bi-x fs-2"></i>
		</span>
		<!--end::Cancel-->
		<!--begin::Remove-->
		<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove Image">
			<i class="bi bi-x fs-2"></i>
		</span>
		<!--end::Remove-->
	</div>
	<!--end::Image input-->
	<!--begin::Hint-->
	<div class="form-text">Allowed file types: png, jpg, jpeg.</div>
	<!--end::Hint-->