<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<textarea data-column="{{ name }}" name="{{ name }}_insert" class="{{ name }}_insert ave-text-area-normal form-control form-control-solid ave-form-insert-all" placeholder="input {{title}}">
</textarea>