<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<textarea data-column="{{ name }}" id="ckEditor_{{ value }}_insert" name="{{ name }}_insert" class="ave-text-area ave-form-insert-all">
</textarea>