<script>
// Class definition
const KTUsersAddUser = (function () {
  // Shared variables
  const element = document.getElementById('kt_modal_add_user');
  const form = element.querySelector('#kt_modal_add_user_form');
  const modal = new bootstrap.Modal(element);

  const resetInputForm = () => {
    $.each($('.ave-form-insert-all'), (x, y) => {
      if ($(y).hasClass('form-select')) {
						$(y).val('').trigger('change');
					} else if ($(y).hasClass('ave-insert-image')) {
            let dataColumn = $(y).data('column')
						$(y).val('');
            let wrapper = $(`#ave-insert-image-wrapper-${dataColumn}`)
            let parent = $(`#ave-insert-image-parent-${dataColumn}`)

						wrapper.attr('style', function(i, style)
            {
                return style && style.replace(/background-image[^;]+;?/g, '');
            });
            wrapper.css('background-image', 'none')
						parent.removeClass('image-input-change')
						parent.addClass('image-input-empty')
					} else {
						$(y).val('');
					}
				  // if ($(y).attr('name') && $(y).val() != '') {
          //   $(y).val('');
				  // }
				});
  }
  // Init add schedule modal
  const initAddUser = () => {
    // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
    const validator = FormValidation.formValidation(
      form,
      {
        fields: {
          user_name: {
            validators: {
              notEmpty: {
                message: 'Full name is required',
              },
            },
          },
          user_email: {
            validators: {
              notEmpty: {
                message: 'Valid email address is required',
              },
            },
          },
        },

        plugins: {
          trigger: new FormValidation.plugins.Trigger(),
          bootstrap: new FormValidation.plugins.Bootstrap5({
            rowSelector: '.fv-row',
            eleInvalidClass: '',
            eleValidClass: '',
          }),
        },
      },
    );

    // Submit button handler
    const submitButton = element.querySelector('[data-kt-users-modal-action="submit"]');
    submitButton.addEventListener('click', (e) => {
    let insertData = {};
    $.each($('.ave-form-insert-all'), (x, y) => {
      // if ($(y).attr('name') && $(y).val() != '') {
        if ($(y).data('form-type') == 'select-tagify') {
          const name = $(y).data('column');
					let value = JSON.parse($(y).val());
          console.log(value);
          console.log(typeof value);
          let dValue = [];
          if(value.length > 0) {
            for(let vaa of value) {
              dValue.push(vaa.value)
            }
          }
					insertData[name] = dValue;
          console.log(dValue);
        } else if ($(y).data('column') && $(y).val() != '') {
          const name = $(y).data('column');
					let value = $(y).val();
					insertData[name] = value;
          console.log(value);
        } else if ($(y).hasClass('ave-text-area')) {
          const name = $(y).data('column');
          @each(ckEditor in ckEditorData)
          if(name == '{{ ckEditor }}') {
            let value = ckEditor{{ ckEditor }}Insert.getData()
            insertData[name] = value;
          }
          @end
        }
      });
      // console.log(insertData);
      e.preventDefault();
      // console.log(ckEditorInsert.getData());
      // let dd = editor.data
      // console.log(editorData);

      // Validate form before submit
      if (validator) {
        validator.validate().then((status) => {
          // console.log('validated!');

          if (status == 'Valid') {
            // Show loading indication
            submitButton.setAttribute('data-kt-indicator', 'on');

            // Disable button to avoid multiple click
            submitButton.disabled = true;

            let imageFormList = $('.ave-insert-image');
            // console.log(imageFormList?.length);
            if (imageFormList?.length) {
              let uploadedImagePath = {};
              let elementImage = [];
              $.each(imageFormList, (x, y) => {
                const name = $(y).data('column');
                elementImage.push({name, file: $(y)[0].files[0], })
              });
              // if ($(y).attr('name') && $(y).val() != '') {
              // const value = $(y).val();
              // insertData[name] = value;
              // }
              let formData = new FormData();
              for (let elemImage of elementImage) {
                formData.append(elemImage.name, elemImage.file);
              }
              formData.append('prefix', '{{imgPath}}');
              $.ajax({
                url: '{{ uploadUrl }}',
                type: 'post',
                data: formData,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                cache: false,
                // async: false,
              })
              .done(function (imageData) {
                  // uploadedImagePath = data;
                  $.ajax({
                    url: '{{ addUrl }}',
                    type: 'post',
                    data: {...insertData, ...imageData}
                  })
                  .done(function (data) {
                    // console.log(data);
                    // Remove loading indication
                    submitButton.removeAttribute('data-kt-indicator');

                    // Enable button
                    submitButton.disabled = false;
                    if(data.status) {

                      // Show popup confirmation
                      Swal.fire({
                        text: 'Form has been successfully submitted!',
                        icon: 'success',
                        buttonsStyling: false,
                        confirmButtonText: 'Ok, got it!',
                        customClass: {
                          confirmButton: 'btn btn-primary',
                        },
                      }).then((result) => {
                        if (result.isConfirmed) {
                          datatable.draw();
                          modal.hide();
                          // form.reset();
                          resetInputForm();
                        }
                      });

                    } else {
                      Swal.fire({
                        text: JSON.stringify(data.data),
                        icon: 'error',
                        buttonsStyling: false,
                        confirmButtonText: 'Ok, got it!',
                        customClass: {
                          confirmButton: 'btn btn-primary',
                        },
                      });
                    }

                  })
                  .fail(function () {
                    alert("error");
                    modal.hide();
                  });
  
              })
              .fail(function () {
                alert("upload error");
                  // modal.hide();
              });

            } else {

                $.ajax({
                  url: '{{ addUrl }}',
                  type: 'post',
                  data: insertData
                })
                  .done(function (data) {
                    // console.log(data);
                    // Remove loading indication
                    submitButton.removeAttribute('data-kt-indicator');
    
                    // Enable button
                    submitButton.disabled = false;
                    if(data.status) {
    
                      // Show popup confirmation
                      Swal.fire({
                        text: 'Form has been successfully submitted!',
                        icon: 'success',
                        buttonsStyling: false,
                        confirmButtonText: 'Ok, got it!',
                        customClass: {
                          confirmButton: 'btn btn-primary',
                        },
                      }).then((result) => {
                        if (result.isConfirmed) {
                          datatable.draw();
                          modal.hide();
                          // form.reset();
                          resetInputForm();
                        }
                      });
    
                    } else {
                      Swal.fire({
                      text: JSON.stringify(data.data),
                      icon: 'error',
                      buttonsStyling: false,
                      confirmButtonText: 'Ok, got it!',
                      customClass: {
                        confirmButton: 'btn btn-primary',
                      },
                    });
                    }
    
                  })
                  .fail(function () {
                    alert("error");
                    modal.hide();
                  });
            }
            // Simulate form submission. For more info check the plugin's official documentation: https://sweetalert2.github.io/

            // setTimeout(() => {
            //   // // Remove loading indication
            //   // submitButton.removeAttribute('data-kt-indicator');

            //   // // Enable button
            //   // submitButton.disabled = false;

            //   // // Show popup confirmation
            //   // Swal.fire({
            //   //   text: 'Form has been successfully submitted!',
            //   //   icon: 'success',
            //   //   buttonsStyling: false,
            //   //   confirmButtonText: 'Ok, got it!',
            //   //   customClass: {
            //   //     confirmButton: 'btn btn-primary',
            //   //   },
            //   // }).then((result) => {
            //   //   if (result.isConfirmed) {
            //   //     modal.hide();
            //   //   }
            //   // });

            //   // form.submit(); // Submit form
            // }, 2000);
          } else {
            // Show popup warning. For more info check the plugin's official documentation: https://sweetalert2.github.io/
            Swal.fire({
              text: 'Sorry, looks like there are some errors detected, please try again.',
              icon: 'error',
              buttonsStyling: false,
              confirmButtonText: 'Ok, got it!',
              customClass: {
                confirmButton: 'btn btn-primary',
              },
            });
          }
        });
      }
    });

    // Cancel button handler
    const cancelButton = element.querySelector('[data-kt-users-modal-action="cancel"]');
    cancelButton.addEventListener('click', (e) => {
      e.preventDefault();

      Swal.fire({
        text: 'Are you sure you would like to cancel?',
        icon: 'warning',
        showCancelButton: true,
        buttonsStyling: false,
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No, return',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-active-light',
        },
      }).then((result) => {
        if (result.value) {
          form.reset(); // Reset form
          modal.hide();
        } else if (result.dismiss === 'cancel') {
          Swal.fire({
            text: 'Your form has not been cancelled!.',
            icon: 'error',
            buttonsStyling: false,
            confirmButtonText: 'Ok, got it!',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
          });
        }
      });
    });

    // Close button handler
    const closeButton = element.querySelector('[data-kt-users-modal-action="close"]');
    closeButton.addEventListener('click', (e) => {
      e.preventDefault();

      Swal.fire({
        text: 'Are you sure you would like to cancel?',
        icon: 'warning',
        showCancelButton: true,
        buttonsStyling: false,
        confirmButtonText: 'Yes, cancel it!',
        cancelButtonText: 'No, return',
        customClass: {
          confirmButton: 'btn btn-primary',
          cancelButton: 'btn btn-active-light',
        },
      }).then((result) => {
        if (result.value) {
          form.reset(); // Reset form
          modal.hide();
        } else if (result.dismiss === 'cancel') {
          Swal.fire({
            text: 'Your form has not been cancelled!.',
            icon: 'error',
            buttonsStyling: false,
            confirmButtonText: 'Ok, got it!',
            customClass: {
              confirmButton: 'btn btn-primary',
            },
          });
        }
      });
    });
  };

  return {
    // Public functions
    init() {
      initAddUser();
    },
  };
}());

// On document ready
KTUtil.onDOMContentLoaded(() => {
  KTUsersAddUser.init();
});
</script>