<!--begin::Input group-->
	<label class="form-label fs-6 fw-semibold">{{title}}:</label>
	<input data-column="{{ name }}" name="{{ name }}_filter" class="form-control form-control-solid ave-filter" placeholder="Pick a date" id="datePicker_{{ value }}_filter"/>
<!--end::Input group-->