<!--begin::Input group-->
	<label class="form-label fs-6 fw-semibold">{{title}}:</label>
	<input data-column="{{ name }}" name="{{ name }}_filter" type="email" class="form-control form-control-solid ave-filter" placeholder="input {{title}}"/>
<!--end::Input group-->