<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<textarea data-column="{{ name }}" name="{{ name }}_filter" class="{{ name }}_filter ave-text-area-normal form-control form-control-solid ave-form-filter-all" placeholder="input {{title}}">
</textarea>