<!--begin:Menu item-->
<div class="menu-item">
	<!--begin:Menu link-->
	<a class="menu-link {{ title == menu ? 'active' : '' }}" href="{{ url }}">
		<span class="menu-icon">
			<!--begin::Svg Icon | path: icons/duotune/abstract/abs014.svg-->
			<span class="svg-icon svg-icon-2">
				<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					{{{svgIcon}}}
				</svg>
			</span>
			<!--end::Svg Icon-->
		</span>
		<span class="menu-title">{{title}}</span>
	</a>
	<!--end:Menu link-->
</div>
<!--end:Menu item-->