<!--begin::Input group-->
	<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
	<input data-column="{{ name }}" data-form-type="date" name="{{ name }}_edit" class="{{ name }}_edit form-control form-control-solid ave-form-edit-all" placeholder="Pick a date" id="datePicker_{{ value }}_edit"/>
<!--end::Input group-->