<!--begin::Input group-->
	<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<!--end::Input group-->

<input data-column="{{ name }}" data-form-type="select-tagify" name="{{ name.replace(`.`, ``) }}_edit" class="{{ name.replace(`.`, ``) }}_edit ave-form-edit-all form-control form-control-solid" value="" id="kt_tagify_7_edit"/>