<!--begin::Input group-->
	<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
	<input data-column="{{ name }}" data-form-type="text" name="{{ name }}_edit" type="email" class="{{ name }}_edit ave-form-edit-all form-control form-control-solid" placeholder="input {{title}}"/>
<!--end::Input group-->