<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<textarea data-column="{{ name }}" id="ckEditor_{{ value }}_edit" name="{{ name }}_edit" class="{{ name }}_edit ave-text-area ave-form-edit-all">
</textarea>