<label class="{{ required ? 'required' : ''  }} form-label fs-6 fw-semibold">{{title}}:</label>
<textarea data-column="{{ name }}" name="{{ name }}_edit" class="{{ name }}_edit ave-text-area-normal form-control form-control-solid ave-form-edit-all" placeholder="input {{title}}">
</textarea>